<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="hu.bute.auctionapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <permission
        android:name="hu.bute.auctionapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="hu.bute.auctionapp.permission.MAPS_RECEIVE"/>

    <application
        android:name=".AuctionApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.activities.LoginActivity"/>
        </activity>
        <activity
            android:name=".activities.ProductsActivity"
            android:label="@string/title_activity_products"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.StoresActivity"
            android:label="@string/title_activity_stores"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.UploadActivity"
            android:label="@string/title_activity_upload"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/search">
        </activity>
        <activity
            android:name=".activities.UploadStoreActivity"
            android:label="@string/title_activity_upload_store"
            android:parentActivityName=".activities.StoresActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.activities.StoresActivity"/>
        </activity>
        <activity
            android:name=".activities.PickLocationActivity"
            android:label="@string/title_activity_pick_location"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".activities.ProductDetailsActivity"
            android:label="@string/title_activity_product_details"
            android:parentActivityName=".activities.ProductsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.activities.ProductsActivity"/>
        </activity>
        <activity
            android:name=".activities.StoreDetailsActivity"
            android:label="@string/title_activity_store_details"
            android:parentActivityName=".activities.StoresActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.activities.StoresActivity"/>
        </activity>

        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
