<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bute.auctionapp" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <permission android:name="hu.bute.auctionapp.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="hu.bute.auctionapp.permission.MAPS_RECEIVE" />

    <application
        android:name="hu.bute.auctionapp.AuctionApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hu.bute.auctionapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hu.bute.auctionapp.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="hu.bute.auctionapp.activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="hu.bute.auctionapp.activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.activities.LoginActivity" />
        </activity>
        <activity
            android:name="hu.bute.auctionapp.activities.ProductsActivity"
            android:label="@string/title_activity_products"
            android:parentActivityName="hu.bute.auctionapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.MainActivity" />
        </activity>
        <activity
            android:name="hu.bute.auctionapp.activities.StoresActivity"
            android:label="@string/title_activity_stores"
            android:parentActivityName="hu.bute.auctionapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.MainActivity" />
        </activity>
        <activity
            android:name="hu.bute.auctionapp.activities.UploadActivity"
            android:label="@string/title_activity_upload"
            android:parentActivityName="hu.bute.auctionapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.MainActivity" />
        </activity>
        <activity
            android:name="hu.bute.auctionapp.activities.SearchActivity"
            android:label="@string/search"
            android:parentActivityName="hu.bute.auctionapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.MainActivity" />
        </activity>
        <activity
            android:name="hu.bute.auctionapp.activities.UploadStoreActivity"
            android:label="@string/title_activity_upload_store"
            android:parentActivityName="hu.bute.auctionapp.activities.StoresActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bute.auctionapp.activities.StoresActivity" />
        </activity>
        <activity
            android:name="hu.bute.auctionapp.activities.PickLocationActivity"
            android:label="@string/title_activity_pick_location" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>
